.logo {
    width: 10%;
    height: 100%;
    padding: .25%;
    margin: auto;
}
.title {
    font-size: 3em;
    margin: auto;
}
.average {
    font-size: 2em;
    text-align: center;
    margin: auto;
}
.badge {
    margin-left: 1%;
}
.formWrapper {
    min-height: 95vh;
}
body {
    background-color: #f2fff9;
}
.header {
    background-color: #006400;
    color: #ffffff;
    font-family: 'calibri', 'arial';
    text-transform: uppercase;
    background-image: url("images/fruit-background.jpg");
    background-size: 100%;
}
footer {
    bottom: 0;
    height: 5vh;
    background-color: #006400;
    color: #ffffff;
    font-size: small
}
.formButton {
    margin: auto;
}
.editButton {
    color: #484848;
}
.deleteButton {
    color: #cc5500;
}
.editButton, .deleteButton{
    font-size: larger;
    cursor: pointer;
}
.inputTable {
    font-size: 15px;
}
.submitButton, .submitButton:hover, .submitButton:active, .submitButton:focus{
    background-color: #006400;
    border-color: #ffffff;
}
.editInputText {
    background-color: #3CB371;
    color: #ffffff;
    margin-right: 1%;
    margin-top: 1%;
}
@media (width: 990px) {
    .title {
        font-size: 1.5em;
    }
    .average {
        font-size: 1.5em;
    }
    .inputTable {
        font-size: 13px;
    }
}
@media (max-height: 320px) {
    .title {
        text-align: center;
    }
}
@media (orientation: portrait) {
    /*.logo{*/
    /*    display: none*/
    /*}*/
    .title{
        text-align: center;
        font-size: 1.5em;
        padding: 0;
    }
    .average{
        padding: 0;
        font-size: 1.5em;
    }
}
